<html>
    <head>
        <title>Pi Dashboard</title>

        <!-- ajax, socketIO and bootstrap scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
        <script src="./static/js/bootstrap.min.js"></script>
        <!-- Js Scripts -->
        <script src="static/js/lightMonitor.js"></script>
        <script src="static/js/phoneSensor.js"></script>
        <script src="static/js/tempHumSensor.js"></script>
        <!-- Css file -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/style.css">
    </head>

    <body>
        <div class="navbar">
            <div id="navContainer">
                <h1>Welcome!</h1>
                <h1>Time</h1>
                <div class="terminalBox">
                    Terminal
                </div>
            </div>
            <div id="userContainer">
                <div class="media">
                    <img class="mr-3" src="..." alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 clas s="mt-0">Media heading</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                  </div>
                <div class="d-inline p-2 bg-primary text-white">d-inline</div>
                <div class="d-inline p-2 bg-dark text-white">d-inline</div>
                <!-- <div class="userGeneral">
                    <img src="" id="userIcon">
                    <h1 id="userName">UserName</h1>
                </div>
                <div class="userStats">
                    <h2>Temp</h2>
                    <h2>humidity</h2>
                    <h2>Light Intensity</h2>
                </div> -->
                <div class="logout" onclick="">
                    <button>Logout</button>
                </div>
            </div>
        </div>

        <div class="panels">
            <div id="col1" class="valuesCol">
                <h1>value</h1>
            </div>

            <div id="col2" class="other">
                <div class="notifs">
                    <h1>notifs</h1>
                </div>

                <div class="toggles">
                    <h1>toggles</h1>
                </div>
            </div>
        </div>
    </body>
</html>